@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
body {
    font-family: var(--font-geist-sans);
}

.rounded-table th,
.rounded-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.rounded-table th:first-child {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.rounded-table th:last-child {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}
.rounded-table {
    display: flex;
    flex-direction: column;
}

.rounded-table tr {
    display: flex;
}

.rounded-table thead {
    display: flex;
}

.rounded-table thead :nth-child(1) {
    flex: 1;
}

.rounded-table thead :nth-child(2) {
    flex: 1;
}

.rounded-table thead :nth-child(3) {
    flex: 3;
}

.rounded-table thead :nth-child(4) {
    flex: 1;
}

.rounded-table thead :nth-child(5) {
    flex: 1;
}

.data-column th,
tbody>td {
    border: none;
    background-color: rgba(0, 111, 255, 0.1);
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000bf;

}

#data-table-body {
    flex-direction: row;
    width: 100%;
}

tbody tr {
    display: flex;

}

.rounded-table tbody tr {
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;  
}

.rounded-table tbody tr td {
    flex: 1;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;  
}

/* bunu ellemeyin */
.rounded-table tbody tr td:nth-child(3) {
    flex: 3;

}
/* bunu ellemeyin */

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.delete-btn,
.archive-btn,
.seechat-btn {
    padding: 5px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}


.seechat-btn {
    background-color: #af7dff;
    border: 1px solid #af7dff;
    color: white; 
}

.seechat-btn:hover {
    background-color: #ffffff;
    border: 1px solid #af7dff;
    color: black; 
}

.delete-btn {
    background-color: #ff6868;
    border: 1px solid #ff6868;
    color: white;
}

.delete-btn:hover {
    background-color: white;
    border: 1px solid #ff6868;
    color: black;
}

.archive-btn {
    background-color: #4ec2ff;
    border: 1px solid #4ec2ff;
    color: white;
}

.archive-btn:hover {
    background-color: white;
    border: 1px solid #4ec2ff;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td:first-child {
    text-align: center;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th:nth-child(5),
td:nth-child(5) {
    width: 175px;
    text-align: center;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

